.doinguquanli {
    background-color: #FFFFFF;
    &-heading {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: $primary-color;
        margin-top: 139px;
        margin-bottom: 60px;
    }
    &-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-bottom: 106px;
    }
    &-chosen {
        background: #E4F3FF;
        box-shadow: 0px 18px 18px rgba(0, 0, 0, 0.02), 0px 4px 28px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        width: 402px;
        height: 114px;
    }
    &-selector {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 43px;
    }
    &-choices {
        background: rgba(228, 243, 255, 0.44);
        border-radius: 10px;
        width: 402px;
        height: 114px;
    }
    &-selections {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #9E9E9E;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 43px;
    }
    &-row1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 250px;
        margin-bottom: 35px;
    }
    &-row2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 250px;
        margin-bottom: 238px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-avt {
        max-width: 209px;
        width: 100%;
        margin: auto;   
    }
    &-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: $primary-color;
        margin-top: 25px;
        margin-bottom: 10px;
        padding: auto;
    }
    &-detail {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        padding: auto;
        color: #212121;
    }
    
}