.hotent {
    padding-top: 350px;
    margin: 117px;
    &-heading {
        padding-bottom: 61px;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        color: $primary-color;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 50px;
    }
    &-item {
        box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.08), 0px 9px 46px rgba(0, 0, 0, 0.04), 0px 11px 15px rgba(0, 0, 0, 0.09);
        border-radius: 18px;
        padding: 76px 47px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    &-logo {
        margin: 0 auto;
        margin: auto;
    }
    &-name {
        padding-top: 73px;
        font-size: 24px;
        font-weight: 500;
        color: $primary-color;
        margin-top: auto;
    }
    &-head {
        padding-top: 17px;
        font-size: 16px;
        font-weight: 300;
        color: $subtext1-color;
    }

}