.tamnhin {
    background: rgba(228, 243, 255, 0.22);
    &-container {
        margin: 0 130px;
        display: flex;
        gap: 246px;
    }
    &-content {
        margin: auto;
    }
    &-heading {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: $primary-color;
        margin-bottom: 36px;
    }
    &-detail {
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        
        color: #212121;
    }
    &-logo {
        max-width: 528px;
        width: 100%;
        margin: 105px 0px;
    }
}