.timviec2 {
    background: rgba(228, 243, 255, 0.22);
    &-heading {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: $primary-color;
        padding-top: 70px;
        padding-bottom: 56px;
    }
    &-container {
        /*display: flex;
        gap: 34px;*/
        padding-left: 151px;
    }
    &-item {
        background: #FFFFFF;
        border: 0.5px solid #666666;
        border-radius: 10px;
        padding: 34px 30px;
        display: flex;
        flex-direction: column;
        max-width: 361px;
        margin-left: 34px;
    }
    &-item_header {
        display: flex;
    }
    &-item_logo {
        max-width: 38px;
        width: 100%;
        margin-right: auto;
    }
    &-item_date {
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        color: #666666;
        margin: auto;
        margin-left: auto;
    }
    &-item_icon {
        max-width: 22px;
        width: 100%;
        max-height: 22px;
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
    &-item_title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: $primary-color;
        margin-top: 16px;
        margin-bottom: 36px;
    }
    &-item_tag {
        display: flex;
        gap: 13px;
        margin-bottom: 16px;
    }
    &-item_tag1 {
        background: #E4F3FF;
        border-radius: 28px;
        padding: 6px 8px;
    }
    &-item_tag2 {
        background: #FBB957;
        border-radius: 28px;
        padding: 6px 14px;
    }
    &-item_detail {
        display: flex;
        gap: 8px;
        margin-bottom: 16px;
    }
    &-item_salary_text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $primary-color;
        margin-top: auto;
        margin-bottom: auto;
    }
    &-item_address_text {
        font-weight: e00;
        font-size: 16px;
        line-height: 19px;
        color: #666666;
        margin-top: auto;
        margin-bottom: auto;
    }
    &-item_button1 {
        background-color: $primary-color;
        border-radius: 28px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding: 13px 15px;
    }
    &-item_button2 {
        background-color: #E4F3FF;
        border-radius: 28px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $primary-color;
        padding: 13px 40px;
    }
    &-item_buttons {
        display: flex;
        gap: 9px;
        margin: auto;
        margin-top: 5px;
    }
    &-button {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        background-color: $primary-color;
        border-radius: 100rem;
        padding: 12px 28px;  
    }
    &-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 14px;
        padding-bottom: 61px;
    }
}
