.timviecIntro {
    &-container {
        margin-bottom: 96px;
    }
    &-banners {
        margin-bottom: 125px ;
        margin-top: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 125px;
    }
    &-banner {
        display: flex;
        gap: 36px;
    }
    &-content {
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 8px;
    }
    &-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: $primary-color;
    }
    &-detail {
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
        
        color: #666666;
        
    }
}

.timvieckq {
    &-container {
        background-color: #E4F3FF;
        padding: 25px 0px;
    }
    &-interact {
        display: flex;
    }
}
.timvieckq2 {
    &-heading {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: $primary-color;
        margin-bottom: 22px;
        margin-top: 66px;
    }
    &-subheading {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $subtext1-color;
        margin-bottom: 97px;
        text-align: center;
    }
    &-ads {
        background: #FFFFFF;
        border: 0.5px solid #666666;
        border-radius: 10px;
        max-width: 258px;
        margin-top: 27px;
    }
    &-ads_content {
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        gap: 22px;
        margin: 24px auto;
        max-width: 205px;
        text-align: center;
    }
    &-ads_title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $primary-color;
    }
    &-ads_detail {
        font-weight: 300;
        font-size: 13px;
        line-height: 15px;
        color: $subtext1-color;
    }
    &-ads_button {
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        color: #FFFFFF;
        padding: 9px 75px;
    }
    &-ads_buttons {
        background-color: $primary-color;
        border-radius: 100rem;
    }

}